@using RecipeBlog.UI.Models
@model SubscribersModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-allign">
	<h1 class="display-4">Welcome</h1>
	<p>You are entering the world of amazing stories and tasty food. </p>
	<p>Here you can find the most memorable recipes. The ones that bring you joy and happiness with every bite.</p>
</div>
<br />
<br />

<h2>Here are the options</h2>
<ul>
    <li><a asp-action="Index" asp-controller="Recipes">Recipes to check out</a></li>
    <li><a asp-action="Index" asp-controller="YourRecipes">Add Your recipes here</a></li>
 </ul>
<br />
<br />


 <div class="container" id="ContainerId">
    <h2 id="SubscribeTextH2Id">Subscribe to recieve Recipies</h2>
    <p>click to action text</p>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
	@Html.TextBoxFor(m => m.Name)
	<br />
	@Html.TextBoxFor(m => m.Email)
	<input type="submit" class="btn-primary" value="Subscribe" id="SubscribeButtonId"/>
}







