@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are entering the world of amazing stories and tasty food. </p>
    <p>Here you can find the most memorable recipes. The ones that bring you joy and happiness with every bite.</p>
</div>
<br />
<br />

<h2>Here are the options</h2>
<ul>
    <li><a asp-action="Index" asp-controller="Recipes">Recipes to check out</a></li>
    <li><a asp-action="Index" asp-controller="YourRecipes">Add Your recipes here</a></li>
 </ul>
<br />
<br />
 <div class="container" id="ContainerId">
    <h2 id="SubscribeTextH2Id">Subscribe to our Newsletter</h2>
    <p>click to action text</p>
</div>

 <form method="post" id="FormId">
    <div class="container" id="ContainerId" style="background-color:white">
    <input id="InputTextId" type="text" placeholder="Name" name="name" required>
    <input id="InputTextId" type="text" placeholder="Email address" name="mail" required>
  </div>

  <div class="container">
    <input type="submit" id="SubscribeButtonId" value="Subscribe">
  </div>
</form>
@*<form method="post" id="FormId">
	<div class="form-group" style="background-color:white" id="ContainerId">
		<label asp-for="Name"></label>
		<input asp-for="Name" placeholder="Name" class="form-control"/>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group" style="background-color:white" id="ContainerId">
		<label asp-for="Email"></label>
		<input asp-for="Email" placeholder="Name" class="form-control"/>
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<input type="submit" class="btn-primary" value="Subscribe" id="SubscribeButtonId"/>

</form>*@







