@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are entering the world of amazing stories and tasty food. </p>
    <p>Here you can find the most memorable recipes. The ones that bring you joy and happiness with every bite.</p>
</div>
