@{
    ViewData["Title"] = "Your Recipes";
}


<h1 id="YourRecipesH1Id" class="YourRecipesClass">Add your amazing recipes</h1>
<br>
<br>
<br>
<form action="">
<textarea type="text" placeholder="Write your recipe"></textarea>
<input type="file" id="myFile" name="filename">
<input id="SubmitButtonId" type="submit" value="Submit the Recipe">
</form>
