@{
    ViewData["Title"] = "Add Your Recipes";
}


<h1>Add your amazing recipes</h1>
<br>
<br>
<br>
<form>
<textarea type="text" placeholder="Write your recipe"></textarea>
    <input type="file" id="myFile" name="filename">
    <br>
    <button type="submit">Submit</button>
</form>
