html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#SubscribeButtonId {
    background-color: red;
    color: white;
    border: none;
}

#SubscribeButtonId:hover {
        opacity: 0.8;
}
#SubscribeTextH2Id{
    text-align: center;
}
