@{
    ViewData["Title"] = "Contact Us";
}
<!DOCTYPE html>
<h1>@ViewData["Title"]</h1>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width,
  initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge">
  <title>Contact Us</title>
  <link href="boardcontactus.css" rel="stylesheet">
  </head>
<body>
<br>
<div class="contact-form">
    <div class="container contact-us-container">

     <div class="jumbotron contact-us-jumbotron animate fadeInDown one">
      <strong><h2 class="contact-form-heading lead">We'd <span class="contact-form-heart">&hearts;</span>
        to hear from you</h2>

        <hr class="after-heading-border">
      <div class="contact-form-desc">
         <h3 class="lead">When we're not busy trying to come up with some new food recipe, we love checking our mail. Help keep our inbox full by writing to us! Pitch us your ideas, give valuable feedback or just say hi!</h3>
     </div>
     </div>

     <div class="contact-form-content">
       <form class="contact-us-form animate fadeIn two">
         <div class="row">
           <div class="col-sm-6">
         <div class="form-group">
           <label for="contact-us-name"></label>
           <input type="name" class="form-control input-lg" id="contact-us-name" placeholder="name" required>
         </div>
         </div>

          <div class="col-sm-6">
         <div class="form-group">
           <label for="contact-us-email"></label>
           <input type="email" class="form-control input-lg" id="contact-us-email" placeholder="email" required>
         </div>
         </div>
         </div>

         <div class="form-group">
           <div class="contact-us-textarea">
           <label for="contact-us-message"></label>
           <textarea class="form-control input-lg" id="contact-us-message" rows="4" placeholder="message" required></textarea>
           </div>
         </div>
<br>
<div class="form-button">
<button class="big-button">SEND AT THE SPEED OF LIGHT</button>
</div>
<br><br>
</form>
</div>
 <br>

<hr class="after-form-line animate fadeInDown three">
<br>

<div class="contact-form-bottom">
<div class="row contact-form-bottom-row">
<div class="col-xs-6">
  <div class="contact-us-directly animate fadeInLeft four">
  <p class="contact-us-icons"><span class="glyphicon glyphicon-envelope"></span></p>
  <p class="contact-us-directly-text">You could also write to us directly at food.recip@gmail.com</p>
  </div>
</div>

<div class="col-xs-6">
  <div class="contact-us-number animate fadeInRight four">
  <p class="contact-us-icons"><span class="glyphicon glyphicon-earphone"></span></p>
  <p class="contact-us-number-text">Hey, we just met you and this is crazy. But here's our number, so call us maybe: +371 12345678</p>
</div>
</div>
</div>


</div>
<br>
<br>




   </div>
</div>

</body>
  </html>
