@{
    ViewData["Title"] = "Your Recipes";
}

<h1 id="RecipesH1Id" class="RecipesClass"> Here are the recipes you were looking for
<link href="styles/style.css" rel="stylesheet">
</h1>
<p>More recipes coming soon...</p>

  <main>
  <h2>Gingerbread Recipe</h2>
  <img src="https://clipartix.com/wp-content/uploads/2016/06/Christmas-gingerbread-man-clip-art-clip-art-gingerbread-image.jpg">
  <p>Bake a batch of festive gingerbread biscuits to give as gifts, hang on the tree or devour straight away.</p>
  <p class="recipe-metadata">
				<span class="recipe-rating">★★★★<span>☆</span></span>
				<span class="recipe-votes">(12 votes)</span> </p>
<section class="ingredient">
  <h3>Ingredients</h3>
  <input type="checkbox">
  <label>100g salted butter
  </label>
  <input type="checkbox">
  <label>3 tbsp golden syrup</label>
  <input type="checkbox">
  <label>100g dark muscovado sugar</label>
  <input type="checkbox">
  <label>1/2 tsp bicarbonate of soda</label>
  <input type="checkbox">
  <label>1 tbsp ground ginger</label>
  <input type="checkbox">
  <label>1 tsp ground cinnamon</label>
  <input type="checkbox">
  <label>225g plain flour</label>
  <input type="checkbox">
  <label>50g icing sugar</label>
</section>

  <section>
    <h3>Instructions</h3>
    <ol>
      <li>STEP: Heat the butter, syrup and sugar together in a small pan until melted, stirring occasionally. </li>
      Set aside to cool slightly.</li>
      <li>STEP: Mix together the bicarb, ginger, cinnamon and flour in a large bowl.
      Pour in the buttery syrup mixture and stir to combine, then use your hands to bring together to form a dough.
      The dough will be soft at this point, but it’ll firm up in the fridge.</li>
      <li>STEP: Put the dough on a sheet of baking parchment, shape into a rectangle, and lay another sheet of parchment on top of it. Roll the dough out to a thickness of ½cm.
      Transfer to a baking sheet to keep it flat, leaving the parchment in place, then chill in the fridge for 1 hr.</li>
      <li>STEP: Heat the oven to 190C/170C fan/gas 5 and line a large baking sheet with more baking parchment.</li>
      Remove the dough from the fridge and cut out shapes using a cookie cutter.
      We used 9cm stars, but you can choose any shape.
      We also made some with smaller stars cut out of the centre to thread ribbon through and hang from a Christmas tree.</li>
      <li>STEP: Place the shapes, spread apart, on the lined baking sheet, and bake for 10-12 mins.</li>
      <li>STEP: (Depending on the size of the cutters you use, they might need a few minutes more or less cooking in the oven).
      Leave to cool completely on the baking sheet.</li>
      <li>STEP: Meanwhile, mix the icing sugar with 1-2 tbsp water – you want to create a consistency that’s thick and pipeable, and not too thin or it will run.
      Decorate the cooled biscuits with the icing using a piping bag with a thin nozzle.</li>
  </ol>
  </section>
</main>


