@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 id="RecipesH1Id" class="RecipesClass">Here are the recipes you were looking for</h1>
<p>More recipes coming soon...</p>
