
<h1 id="RecipesH1Id" class="RecipesClass"> Here are the recipes you were looking for</h1>
<p>More recipes coming soon...</p>

<h2>Gingerbread recipe</h2>
<p class="recipe-metadata">
				<span class="recipe-rating">★★★★<span>☆</span></span>
				<span class="recipe-votes">(12 votes)</span>
			</p>
<p>Bake a batch of festive gingerbread biscuits to give as gifts, hang on the tree or devour straight away.</p>

<main>
  <p>Click here to view more <a href="#">Gingerbread reciep photos</a>.</p>

  <a href="#"><img src= "https://clipartix.com/wp-content/uploads/2016/06/Christmas-gingerbread-man-clip-art-clip-art-gingerbread-image.jpg"
     alt="Gingerbread men."></a> 
     <style>
     img {
  width: 200px;
         }
</style>

  <p>Ingridients:</p>
  <ul>
    <li>100g salted butter</li>
    <li>3 tbsp golden syrup</li>
    <li>100g dark muscovado sugar</li>
    <li>½ tsp bicarbonate of soda</li>
    <li>1 tbsp ground ginger</li>
    <li>1 tsp ground cinnamon</li>
    <li>225g plain flour</li>
    <li>50g icing sugar</li>
  </ul>

</main>
