@using RecipeBlog.UI.Models
@model List<RecipesModel>

@{
    ViewData["Title"] = "Recipes";
}

<table>
    @foreach (var recipe in Model)
    {
        <tr>
            <td>
                @Html.Encode(recipe.Id)
            </td>
            <td>
                @Html.Encode(recipe.Title)
            </td>
            <td>
                @Html.Encode(recipe.Description)
            </td>
            <td>
                @Html.Encode(recipe.Ingredients)
            </td>
        </tr>
    }

