@{
    ViewData["Title"] = "Recipes";
}

<h1 id="RecipesH1Id" class="RecipesClass"> Here are the recipes you were looking for</h1>
<p>More recipes coming soon...</p>
<h2>Gingerbread recipes</h2>

<p>Bake a batch of festive gingerbread biscuits to give as gifts, hang on the tree or devour straight away.</p>

 